@import url("variables.scss");

@font-face {
  font-family: "Libre Baskerville";
  src: url("@/assets/fonts/librebaskerville.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans.ttf");
}

ul {
  li {
    list-style: none;

    &:hover {
      cursor: pointer;
    }
  }
}

button {

  &:hover {
    cursor: pointer;
  }
}

a {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

p, span {
  font-family: 'Open Sans',serif;
  font-style: normal;
  font-weight: 400;
}
