@import url("variables.scss");

@font-face {
  font-family: "Libre Baskerville";
  src: url("@/assets/fonts/librebaskerville.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans.ttf");
}

h1,h2,h3,h4,h5,h6,ul,li {
  margin: 0;
  padding: 0;
}

ul {
  li {
    list-style: none;

    &:hover {
      cursor: pointer;
    }
  }
}

button {

  &:hover {
    cursor: pointer;
  }
}

a {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;

  &:visited {
    color: #1C1C1C;
  }
}

p, span {
  font-family: 'Open Sans',serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
}
